{
  "presets": [
    ["env", {
      "targets": {
        "node": "current",
        "browsers": [
          "last 2 versions",
          "not Explorer <= 11"
        ]
      }
    }]
  ],
  "plugins": [
    "transform-react-jsx",
    "react-css-modules"
  ]
}
