{
  "presets": [
    "react",
    ["env", {
      "targets": {
        "node": "current"
        // For "browsers": See browsersList in package.json
      }
    }]
  ],
  "plugins": [
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }],
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "components": "./components",
        "form": "./form",
        "modules": "./modules"
      }
    }]
  ]
}
