{
  "presets": [
    ["env", {
      "targets": {
        "node": "current"
        // For "browsers": See browsersList in package.json
      }
    }]
  ],
  "plugins": [
    "transform-react-jsx",
    ["react-css-modules", {
      "filetypes": {
        ".scss": {
          "syntax": "postcss-scss"
        }
      }
    }]
  ]
}
