.rule {
  display: flex;
}

.symbol {
  flex-shrink: 1;
  flex-basis: 40px;
  margin-right: $baseline;
  input {
    @include form-input-text;
  }
}

.successor {
  flex-grow: 1;
  input {
    @include form-input-text;
  }
}
