.layout-container {
  display: grid;
  grid-template-columns: [aside-start] 300px [aside-end main-start] auto [main-end];
  grid-template-rows: 100vh;
}

.layout-side-bar {
  background: map-get($colors, primary);
}

.layout-main {
  background: map-get($colors, secondary);
}
